{{> head}}

{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Vincent Law</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex voluptate architecto illum autem. Ratione consectetur alias, quis illo in illum reiciendis sint aperiam deleniti, non iusto est ea! Officia, quo.
            </p>
        </div>
        <div class="col-4">
            <img src="{{imagen}}" class="img-thumbnail">
        </div>
    </div>

{{> footer}}